.cart {
    background-image: url('../img/cart.svg');
    width: 21px;
    height: 20px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 30px;
    transition-duration: 0.2s;
    transition-property: opacity;
    &__count {
        font-size: 10px;
        color: #ffffff;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $orange;
        position: absolute;
        right: -7px;
        top: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover {
        opacity: 0.8;
    }
}

@media screen and (min-width: 768px) {
    .cart {
        order: 1;
        margin-left: 0;
        margin-right: 0;
    }
}
