.intro {
    padding-bottom: 50px;
    &__info {
        padding-bottom: 20px;
        text-align: center;
    }
    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2em;
        text-transform: capitalize;
        color: #363853;
        padding-bottom: 26px;
        span {
            color: $orange;
        }
    }
    p {
        font-size: 16px;
        line-height: 1.4em;
        padding-bottom: 20px;
    }
    &__pic {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .intro {
       display: flex;
       align-items: center;
        &__info {
            width: 50%;
            text-align: left;
        }
        &__pic {
            width: 34%;
            max-width: none;
        }
        h1 {
            font-size: 46px;
        }
        p {
            font-size: 20px;
        }
    }  
}

@media screen and (min-width: 992px) {
    .intro {
        h1 {
            font-size: 56px;
        }
        p {
            font-size: 20px;
        }
     } 
}
