.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 6px;
    max-width: 500px;
    width: calc(100% - 32px);
    padding: 32px 16px;
    overflow: auto;
    max-height: calc(100% - 100px);
    &__close {
        cursor: pointer;
        width: 16px;
        height: 16px;
        border: none;
        background-image: url('../img/menu-close.svg');
        background-size: 16px 16px;
        background-color: transparent;
        position: absolute;
        right: 16px;
        top: 16px;
    }
    &__h2 {
        font-size: 24px;
        padding-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 1.3em;
        padding-bottom: 20px;
    }

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(22, 26, 47, 0.4);
    backdrop-filter: blur(2px);
}

@media screen and (min-width: 768px) {
    .modal {
        padding: 48px 32px;
    }
}
