.slider-arrow {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    path {
        transition-duration: 0.2s;
        transition-property: stroke;
    }
    &:hover {
        path {
            stroke: $orange;
        }
    }
    &_prev {
        left: -30px;
        transform: translateY(-50%) rotate(180deg);
    }
    &_next {
        right: -30px;
        transform: translateY(-50%);
    }
}

@media (min-width: 1200px) {
    .slider-arrow {
        &_prev {
            left: -100px;
        }
        &_next {
            right: -100px;
        }
    }
}
