* {
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: border-box;
}

html,
body,
.root {
    height: 100%;
}
.root {
    display: flex;
    flex-direction: column;
}

.body {
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
    color: $main;
    background-color: #F9FAFF;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

h2 {
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: center;
    span {
        color: $orange;
    }
}

a {
    &:hover {

    }
}

button {
    font-family: inherit;
}
